.signUpForm{
    width: 30%;
}
.signup-form{
    border: 3px solid black;
}
@media screen and (max-width: 1000px) {
    .signUpForm{
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .signUpForm{
        width: 85%;
    }
}